.element-avatar {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.element-txt {
    margin-top: 7px;
    margin-left: 5px;
}

.icon-walk {
    margin-left: 150px;
}

.icon-chat {
    margin-left: 5px;
    ;
}

.element-messages {
    margin-left: 140px;
    margin-bottom: 0px;
    margin-top: 7px;
}

.button-walk {
    margin-left: 70px;
}
